/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
/* TYPOGRAPHY */
body {
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  color: hsl(0deg, 0%, 8%);
}

main {
  text-align: center;
}

h1 {
  font-size: 2.2rem;
}

main p {
  color: hsl(0deg, 0%, 41%);
  font-size: 1rem;
  line-height: 1.5em;
}

.mobile-nav a,
.mobile-nav li {
  color: hsl(0deg, 0%, 41%);
  font-size: 0.9rem;
}

.login,
.register {
  text-align: center;
}

.learn-more-button {
  text-decoration: none;
  color: hsl(0deg, 0%, 98%);
  font-size: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
  text-decoration: none;
}

/* LAYOUT */
body {
  background-color: hsl(0deg, 0%, 98%);
}

header,
main,
footer {
  width: 90%;
  margin: 0 auto;
}

header {
  padding-top: 1em;
  padding-bottom: 0.7em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  padding-bottom: 0.2em;
}

nav {
  display: none;
}

nav ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.mobile-nav {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  min-height: 100vh;
  z-index: 3;
  background-color: hsl(0deg, 0%, 98%);
  padding-top: 2.5em;
  transition: all ease-in-out 0.4s;
}

.mobile-nav.is-active {
  right: 0;
}

.mobile-nav li,
.login {
  margin: 1.8em 1.5em;
}

.mobile-nav li img {
  margin-left: 0.8em;
  transition: all ease-in-out 0.4s;
}

.dropdown-menu {
  display: block;
  max-height: 0;
  opacity: 0;
  margin-top: -1.4em;
  margin-left: 1em;
  transition: all ease-in-out 0.4s;
}

.dropdown-menu li a {
  display: flex;
  align-items: center;
}

.dropdown-menu li img {
  margin-right: 0.8em;
  margin-left: 0em;
  margin-bottom: 0.3em;
}

.dropdown-menu.display {
  max-height: 500px;
  margin-top: 1.4em;
  opacity: 1;
}

.rotate {
  transform: rotate(180deg);
}

.login,
.register {
  display: block;
}

.login {
  padding-right: 0.5em;
}

.register {
  border: 2px solid hsl(0deg, 0%, 41%);
  margin: -0.5em 1.5em;
  padding: 0.7em 0;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all ease-in-out 0.4s;
  z-index: 2;
}

.overlay.is-active {
  visibility: visible;
  opacity: 1;
}

.burger {
  display: block;
  position: relative;
  width: 35px;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 5;
}

.burger .bar,
.burger:after,
.burger:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: hsl(0deg, 0%, 8%);
  margin: 6px 0px;
  transition: all ease-in-out 0.4s;
}

.burger.is-active:before {
  transform: rotate(-45deg) translate(-4px, 3px);
}

.burger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.burger.is-active .bar {
  opacity: 0;
}

.hero-image {
  width: 100%;
}

h1 {
  margin-top: 0.8em;
}

main p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.learn-more-button {
  display: block;
  background-color: hsl(0deg, 0%, 8%);
  padding: 0.8em 0;
  width: 40%;
  margin: 0 auto;
  border-radius: 12px;
}

.clients {
  margin-top: 1.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients img {
  width: 18%;
}

footer {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

/* MEDIA QUERIES */
@media (min-width: 750px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 78%;
    margin: 0 auto;
    border: 1px solid red;
    height: 75vh;
    margin-top: 2em;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    margin: 0;
  }
  main h1,
main p {
    text-align: left;
  }
  main h1 {
    margin-top: auto;
    font-size: 4.8rem;
  }
  main p,
main a {
    font-size: 1.3rem;
  }
  main p {
    margin-top: 2em;
  }
  .learn-more-button {
    margin-left: 0;
    margin-top: 1.5em;
    width: 30%;
    padding: 1em 0;
  }
  .clients {
    margin-top: auto;
  }
  .hero-image {
    max-width: 100%;
    max-height: 100%;
  }
}/*# sourceMappingURL=main.css.map */